@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@100..700&display=swap");

:root {
	--hue: 45.2;
	--first-color: hsl(var(--hue), 100%, 50%);
	--body-color: hsl(0, 0%, 100%);
	--subtitle-color: hsl(var(--hue), 100%, 60%);
	--title-color: hsl(0, 0%, 13.3%);
	--text-color: hsl(0, 0%, 0%);

	--primary-style: "Poppins", sans-serif;
	--secondary-style: "Roboto Mono", monospace;
	--larger-font-size: 2rem;
	--large-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smallest-font-size: 0.75rem;

	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--h4-font-size: 0.96rem;

	--font-light: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
	overflow-x: hidden;
}

img,
svg {
	width: 100%;
	height: auto;
}

input,
button,
textarea {
	outline: 0;
	border: 0;
}

input,
textarea,
button,
body {
	font-family: var(--primary-style);
	font-size: var(--normal-font-size);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.section {
	padding-block: 5rem 2rem;
}

.section-title {
	color: var(--title-color);
	margin-bottom: 1.5rem;
	font-family: var(--primary-style);
	font-weight: var(--font-bold);
	font-size: 2.5rem;
	text-align: center;
}

.section-subtitle {
	color: var(--subtitle-color);
	margin-bottom: 0.1rem;
	letter-spacing: 0.2rem;
	font-family: var(--secondary-style);
	font-weight: var(--font-semi-bold);
	font-size: var(--h4-font-size);
	text-align: center;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
	animation-play-state: paused !important;
}

.btn {
	color: var(--body-color);
	background-color: rgb(145, 50, 12);
	padding: 0.5rem 1.5rem;
	font-size: var(--large-font-size);
	font-weight: var(--font-semi-bold);
	transition: all 0.5s ease;
}

.btn:hover {
	color: var(--first-color);
	background-color: var(--title-color);
}

/* ================ BREAKPOINTS =================== */
@media screen and (min-width: 730px) and (max-width: 830px) {
	.service-content {
		display: grid;
		position: absolute;
		top: 2.6rem;
	}

	.service-content img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}

	.why__us_section {
		margin-block: 3rem 1.5rem;
		padding: 3rem 4rem;
		background-color: var(--subtitle-color);
	}
	.contact-form {
		display: grid;
		row-gap: 1.5rem;
		margin-block: 1.5rem;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
	}

	.section__our_services {
		padding: 5rem 1.5rem 2rem 2rem;
	}

	.call__us_content {
		height: 20rem;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
			url(../images/passenger2.jpg) no-repeat center;
		background-size: cover;
		color: var(--body-color);
		padding: 4rem 1.5rem 1.5rem 1.5rem;
	}

	.section__get_taxi {
		display: flex;
		flex-direction: column;
		column-gap: 1rem;
		margin-top: -0.5rem;
		background-color: var(--first-color);
		color: var(--text-color);
		padding-block: 5rem 1.5rem;
		padding-inline: 1.5rem;
	}

	.carousel .list .item .content .buttons {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: repeat(2, 10rem);
		column-gap: 1rem;
	}

	.carousel .list .item .content {
		position: absolute;
		top: 20%;
		left: 2rem;
		width: 25rem;
		color: var(--body-color);
		text-shadow: 0 5px 10px #0004;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		/* background-color: lightblue; */
		width: 100%;
		padding: 1.5rem 2rem;
		z-index: 1000;
		border-bottom: 1px solid white;
		transition: all 0.8s ease;
	}

	.value-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 1rem;
		box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);
		background-color: var(--first-color);
	}
}

@media screen and (min-width: 830px) and (max-width: 950px) {
	.service-content {
		display: grid;
		position: absolute;
		top: 2.6rem;
		grid-template-columns: 1fr 1fr;
	}

	.service-content img {
		width: 100%;
		height: 400px;
		object-fit: cover;
	}

	.why__us_section {
		margin-block: 3rem 1.5rem;
		padding: 3rem 3rem;
		background-color: var(--subtitle-color);
	}
	.contact-form {
		display: grid;
		row-gap: 1.5rem;
		margin-block: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 1rem;
	}

	.section__our_services {
		padding: 5rem 3rem 3rem 3rem;
	}

	.values-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	.section__our_services {
		padding: 5rem 3rem 3rem 3rem;
	}

	.call__us_content {
		height: 20rem;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
			url(../images/passenger2.jpg) no-repeat center;
		background-size: cover;
		color: var(--body-color);
		padding: 4rem 3rem 1.5rem 3rem;
	}

	.section__get_taxi {
		display: flex;
		flex-direction: column;
		column-gap: 1rem;
		margin-top: -0.5rem;
		background-color: var(--first-color);
		color: var(--text-color);
		padding-block: 2rem 1.5rem;
		padding-inline: 3rem;
	}

	.carousel .list .item .content .buttons {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: repeat(2, 10rem);
		column-gap: 1rem;
	}

	.carousel .list .item .content {
		position: absolute;
		top: 20%;
		left: 3rem;
		width: 25rem;
		color: var(--body-color);
		text-shadow: 0 5px 10px #0004;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		/* background-color: lightblue; */
		width: 100%;
		padding: 1.5rem 3rem 1.5rem 3rem;
		z-index: 1000;
		border-bottom: 1px solid white;
		transition: all 0.8s ease;
	}

	.value-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 1rem;
		box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);
		background-color: var(--first-color);
	}
}

@media screen and (min-width: 950px) {
	.service-content {
		display: grid;
		position: absolute;
		top: 2.6rem;
		grid-template-columns: 1fr 1fr;
	}

	.service-content img {
		width: 100%;
		height: 400px;
		object-fit: cover;
	}

	.why__us_section {
		margin-block: 3rem 1.5rem;
		padding: 3rem 3rem;
		background-color: var(--subtitle-color);
	}
	.contact-form {
		display: grid;
		row-gap: 1.5rem;
		margin-block: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 1rem;
	}

	.section__our_services {
		padding: 5rem 7rem 3rem 7rem;
	}

	.values-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	.call__us_content {
		height: 20rem;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
			url(../images/passenger2.jpg) no-repeat center;
		background-size: cover;
		color: var(--body-color);
		padding: 4rem 3rem 1.5rem 3rem;
	}

	.section__get_taxi {
		display: flex;
		flex-direction: column;
		column-gap: 1rem;
		margin-top: -0.5rem;
		background-color: var(--first-color);
		color: var(--text-color);
		padding-block: 2rem 1.5rem;
		padding-inline: 3rem;
	}

	.carousel .list .item .content .buttons {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: repeat(2, 10rem);
		column-gap: 1rem;
	}

	.carousel .list .item .content {
		position: absolute;
		top: 20%;
		left: 3rem;
		width: 25rem;
		color: var(--body-color);
		text-shadow: 0 5px 10px #0004;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		/* background-color: lightblue; */
		width: 100%;
		padding: 1.5rem 3rem 1.5rem 3rem;
		z-index: 1000;
		border-bottom: 1px solid white;
		transition: all 0.8s ease;
	}

	.value-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3rem 3rem 4rem 3rem;
		box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);
		background-color: var(--first-color);
	}
}
