.service__container {
	display: grid;
}

.section-svg {
	width: 4rem;
	height: 3rem;
	justify-self: center;
}

.services {
	display: flex;
	flex-direction: column;
	position: relative;
}

.service__buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.service-button {
	padding: 0.5rem 1rem;
	text-align: center;
	border: 1px solid rgb(177, 177, 177);
	font-style: var(--secondary-style);
	font-size: var(--h4-font-size);
	font-weight: var(--font-semi-bold);
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.4s ease;
}

.service-button:hover {
	background-color: var(--first-color);
	/* border: 0; */
}

.service-active {
	background-color: var(--first-color);
	border: 0;
}

@media screen and (max-width: 728px) {
	.section__our_services {
		padding: 5rem 1.5rem 1.5rem 1.5rem;
	}

	.service-content {
		display: grid;
		position: absolute;
		top: 4rem;
	}

	.service-content img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}

	.why__us_section {
		margin-block: 3rem 1.5rem;
		padding: 2rem 1.5rem;
		background-color: var(--subtitle-color);
	}

	.call__us_content {
		height: 20rem;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
			url(../images/passenger2.jpg) no-repeat center;
		background-size: cover;
		color: var(--body-color);
		padding: 4rem 1.5rem 1.5rem 1.5rem;
	}

	.section__get_taxi {
		display: flex;
		flex-direction: column;
		column-gap: 1rem;
		margin-top: -0.5rem;
		background-color: var(--first-color);
		color: var(--text-color);
		padding-block: 5rem 1.5rem;
		padding-inline: 1.5rem;
	}

	.value-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 1rem;
		box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);
		background-color: var(--first-color);
	}
}

.service-content.show {
	z-index: 5;
}

.service-des {
	background-color: var(--title-color);
	padding: 2rem 1rem;
}

.service-subtitle {
	color: var(--first-color);
	letter-spacing: 1px;
	font-size: var(--smallest-font-size);
	font-weight: var(--font-light);
	text-align: start;
}

.service-title {
	color: var(--body-color);
	text-align: start;
	font-size: var(--h1-font-size);
}

.service-description {
	color: var(--body-color);
	font-weight: var(--font-light);
	opacity: 0.4;
	font-size: var(--smallest-font-size);
	margin-bottom: 1.5rem;
}

.book__now-button {
	background-color: yellow;
	color: var(--title-color);
	border-radius: 30px;
	font-style: var(--secondary-style);
	letter-spacing: 0.25rem;
	padding: 0.5rem 2rem;
	transition: 0.2s;
}

.book__now-button:hover {
	background-color: var(--subtitle-color);
	color: var(--body-color);
}

/* ==================== CALL US SECTION ===================== */
.call__us_section {
	margin-top: 28rem;
	padding-block: 5rem 1.5rem;
}

.call_us-title {
	font-family: var(--font-bold);
	font-size: var(--normal-font-size);
	margin-bottom: 0.25rem;
}

.call_us-number {
	color: var(--first-color);
	font-size: var(--larger-font-size);
	font-weight: var(--font-bold);
	margin-bottom: 1rem;
}

.call_us-des {
	font-size: var(--small-font-size);
	width: 80%;
	margin-bottom: 1rem;
}

.call_us-des span {
	color: var(--first-color);
}

.call__us_content .btn {
	padding-inline: 1rem;
	font-size: var(--normal-font-size);
}

/* ============= WHY US ============ */
/* .why__us_section {
	margin-block: 3rem 1.5rem;
	padding: 2rem 1.5rem;
	background-color: var(--subtitle-color);
} */

.why__us-content {
	display: grid;
}

.values-container {
	display: grid;
	gap: 2rem;
}

/* .value-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
	box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);
	background-color: var(--first-color);
} */

.core-value-icon {
	font-size: 4rem;
	margin-bottom: 0.25rem;
}

.value-heading {
	font-size: var(--large-font-size);
	font-weight: var(--font-semi-bold);
	font-style: var(--secondary-style);
	letter-spacing: 0.3rem;
	margin-bottom: 0.4rem;
}

.value-des {
	text-align: center;
	font-size: var(--small-font-size);
	opacity: 0.7;
}

.why-us-subtitle {
	color: var(--body-color);
}
