.service__container {
	display: grid;
}

.section-svg {
	width: 4rem;
	height: 3rem;
	justify-self: center;
}

.services {
	display: flex;
	flex-direction: column;
	position: relative;
}

.service__buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.service-button {
	padding: 0.5rem 1rem;
	text-align: center;
	border: 1px solid rgb(177, 177, 177);
	font-style: var(--secondary-style);
	font-size: var(--h4-font-size);
	font-weight: var(--font-semi-bold);
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.4s ease;
}

.service-button:hover {
	background-color: var(--first-color);
	/* border: 0; */
}

.service-active {
	background-color: var(--first-color);
	border: 0;
}

@media screen and (max-width: 728px) {
	.section__our_services {
		padding: 5rem 1.5rem 1.5rem 1.5rem;
	}

	.service-content {
		display: grid;
		position: absolute;
		top: 4rem;
	}

	.service-content img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}

	.why__us_section {
		margin-block: 3rem 1.5rem;
		padding: 2rem 1.5rem;
		background-color: var(--subtitle-color);
	}

	.call__us_content {
		height: 20rem;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
			url(../images/kenyaPassenger1.jpg) no-repeat center;
		background-size: cover;
		color: var(--body-color);
		padding: 4rem 1.5rem 1.5rem 1.5rem;
	}

	.section__get_taxi {
		display: flex;
		flex-direction: column;
		column-gap: 1rem;
		margin-top: -0.5rem;
		background-color: var(--first-color);
		color: var(--text-color);
		padding-block: 5rem 1.5rem;
		padding-inline: 1.5rem;
	}

	.value-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 1rem;
		box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);
		background-color: var(--first-color);
	}

	.safari-intro {
		margin-block: 2rem 1rem;
		display: grid;
		opacity: 0;
		padding-inline: 1.5rem;
		animation: slide-in 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
	}

	.safari-section-sub {
		margin-block: 0.25rem 0.8rem;
	}

	.safari-description {
		font-weight: var(--font-semi-bold);
	}

	.safaris-grid-section {
		margin-block: 4rem 1rem;
		padding-inline: 1.5rem;
	}

	.days-selection {
		margin-bottom: 1.5rem;
		text-align: center;
		font-family: var(--secondary-style);
		font-weight: var(--font-medium);
	}

	.day-number {
		margin-top: 0.5rem;
		font-size: var(--h3-font-size);
	}

	.show-all {
		width: 9rem;
		margin: 0 auto;
		margin-top: 4rem;
		cursor: pointer;
	}

	.safaris-grid {
		display: grid;
		margin-block: 2rem 1rem;
		row-gap: 2.5rem;
	}

	.safari-card-title {
		font-size: var(--h1-font-size);
		margin-bottom: 0.8rem;
		text-transform: uppercase;
	}

	.last-two-words::before {
		content: "\A";
		white-space: pre;
	}

	.safari-card-description {
		text-align: start;
		padding-inline: 0.5rem;
		opacity: 0.6;
	}

	.safari-learn-more {
		width: 40%;
		margin: 0 auto;
		margin-block: 0.5rem 0.8rem;
		cursor: pointer;
	}

	.section-questions {
		margin-block: 4rem 1rem;
		padding-inline: 1.5rem;
		display: grid;
	}

	.question {
		padding: 1rem;
		display: grid;
		row-gap: 1rem;
		box-shadow: 2px 8px 30px hsla(22, 100%, 8%, 0.1);
	}

	.safari-option {
		text-align: center;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0 8px 24px hsla(22, 100%, 8%, 0.2);
	}

	.service-header-bg p {
		font-size: 1.8rem;
	}

	.safari-num-intro {
		margin-block: 2rem 1rem;
		padding-inline: 1.5rem;
	}

	.safari-day-breakdown {
		margin-block: 7rem 2rem;
		padding-inline: 1.5rem;
	}

	.safari-num-break-down p {
		font-size: var(--h2-font-size);
		margin-bottom: 0.5rem;
	}

	.list__group li {
		font-weight: var(--font-semi-bold);
	}

	.safari-num-addition div {
		text-align: center;
	}

	.safari-num-addition p span {
		font-size: var(--h2-font-size);
		font-weight: var(--font-semi-bold);
		margin-bottom: 0.5rem;
		color: var(--title-color);
		text-decoration: underline;
	}

	.safari-num-addition p {
		margin-bottom: 0.5rem;
		margin-bottom: 2rem;
	}

	.safari-day-card {
		display: grid;
	}

	.safari-num-btn {
		margin: 0 auto;
		margin-top: 0.5rem;
		width: 50%;
		justify-self: center;
		cursor: pointer;
		text-align: center;
	}

	.safari-day {
		position: relative;
		display: flex;
		flex-direction: column;
		column-gap: 2rem;
	}

	.safari-day-title {
		position: absolute;
		top: -3.2rem;
		left: 1rem;
		right: 1rem;
		font-family: var(--secondary-style);
		color: var(--title-color);
		text-align: center;
		font-size: var(--large-font-size);
		font-weight: var(--font-bold);
	}

	.safari-day-breakdown {
		display: grid;
		row-gap: 6rem;
	}

	.car-details {
		display: grid;
		row-gap: 4rem;
	}

	.car-detail-visual-cont {
		font-size: var(--larger-font-size);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		border: 1px solid black;
		margin: 0 auto;
		border-radius: 50%;
		background-color: var(--subtitle-color);
	}

	.car-detail-visual p {
		font-size: var(--h2-font-size);
		font-weight: var(--font-semi-bold);
		opacity: 0.5;
	}

	.car-detail-visual {
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		text-align: center;
	}

	.car-details-pas {
		row-gap: 2rem;
	}

	.breakdown-list hr {
		margin-block: 1rem;
	}

	.car-hire-rates {
		margin-block: 5rem 2rem;
		background-color: var(--title-color);
		padding: 2rem 1.5rem;
	}

	.car-hire-intro {
		display: grid;
		margin-block: 3rem 2rem;
		opacity: 0;
		animation: slide-in 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
		padding-inline: 1.5rem;
	}

	.tables-car-container {
		row-gap: 2rem;
	}

	.car-rate-cont p {
		text-transform: uppercase;
		text-align: center;
		text-decoration: underline;
		margin-bottom: 1rem;
		color: var(--subtitle-color);
		font-size: var(--h2-font-size);
		width: 80%;
	}

	.car-rate-table thead tr th {
		border-block: 1px solid white;
		color: var(--body-color);
		padding: 4px;
		text-align: center;
	}

	.car-rate-table tbody tr td {
		color: var(--body-color);
		padding-right: 0.5rem;
		border-bottom: 1px solid white;
		text-align: center;
		vertical-align: text-top;
		padding-block: 0.6rem;
	}

	.taxi-intro-sec {
		margin-block: 3rem 2rem;
		padding-inline: 1.5rem;
	}

	.taxi-larger-progress {
		display: none;
		justify-content: space-between;
	}

	.taxi-book-progres {
		position: relative;
		margin-bottom: 3rem;
		box-shadow: 4px 4px 10px hsla(22, 100%, 8%, 0.1);
	}

	.choose-vehicle-flex {
		display: flex;
		flex-direction: column;
	}

	.summary-taxi-details {
		padding: 2rem 1rem;
		background-color: #e0cccc;
	}

	.summary-taxi-details-end {
		padding: 2rem 1rem;
		background-color: #e0cccc;
	}

	.progress-relative-cont {
		position: relative;
	}

	.taxi-sel-img img {
		object-fit: cover;
	}

	.taxi-price {
		margin-top: 1.5rem;
		color: var(--first-color);
		font-size: var(--larger-font-size);
	}

	.taxi-select-btn {
		padding: 1rem 1.5rem;
		letter-spacing: 6px;
	}

	.taxi-booking-btns {
		display: flex;
		flex-direction: column;
		row-gap: 0.5rem;
	}

	.summary-col-2 {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
	}

	.taxi-booking-summary {
		row-gap: 2rem;
	}

	.backgroud-progress {
		display: none;
		position: absolute;
		height: 2px;
		background-color: rgba(0, 0, 0, 0.4);
		top: 1.7rem;
		right: 3rem;
		left: 3rem;
		z-index: -2;
	}
}

.service-content.show {
	z-index: 5;
}

.service-des {
	background-color: var(--title-color);
	padding: 2rem 1rem;
}

.service-subtitle {
	color: var(--first-color);
	letter-spacing: 1px;
	font-size: var(--smallest-font-size);
	font-weight: var(--font-light);
	text-align: start;
}

.service-title {
	color: var(--body-color);
	text-align: start;
	font-size: var(--h1-font-size);
}

.service-description {
	color: var(--body-color);
	font-weight: var(--font-light);
	opacity: 0.4;
	font-size: var(--smallest-font-size);
	margin-bottom: 1.5rem;
}

.book__now-button {
	background-color: yellow;
	color: var(--title-color);
	border-radius: 30px;
	font-style: var(--secondary-style);
	letter-spacing: 0.25rem;
	padding: 0.5rem 2rem;
	transition: 0.2s;
}

.book__now-button:hover {
	background-color: var(--subtitle-color);
	color: var(--body-color);
}

/* ==================== CALL US SECTION ===================== */
.call__us_section {
	margin-top: 28rem;
	padding-block: 5rem 1.5rem;
}

.call_us-title {
	font-family: var(--font-bold);
	font-size: var(--normal-font-size);
	margin-bottom: 0.25rem;
}

.call_us-number {
	color: var(--first-color);
	font-size: var(--larger-font-size);
	font-weight: var(--font-bold);
	margin-bottom: 1rem;
}

.call_us-des {
	font-size: var(--small-font-size);
	width: 80%;
	margin-bottom: 1rem;
}

.call_us-des span {
	color: var(--first-color);
}

.call__us_content .btn {
	padding-inline: 1rem;
	font-size: var(--normal-font-size);
}

/* ============= WHY US ============ */
/* .why__us_section {
	margin-block: 3rem 1.5rem;
	padding: 2rem 1.5rem;
	background-color: var(--subtitle-color);
} */

.why__us-content {
	display: grid;
}

.values-container {
	display: grid;
	gap: 2rem;
}

/* .value-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
	box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.3);
	background-color: var(--first-color);
} */

.core-value-icon {
	font-size: 4rem;
	margin-bottom: 0.25rem;
}

.value-heading {
	font-size: var(--large-font-size);
	font-weight: var(--font-semi-bold);
	font-style: var(--secondary-style);
	letter-spacing: 0.3rem;
	margin-bottom: 0.4rem;
}

.value-des {
	text-align: center;
	font-size: var(--small-font-size);
	opacity: 0.7;
}

.why-us-subtitle {
	color: var(--body-color);
}
